<%= render :partial => 'layouts/header', :locals => {:header => @school.name, :banner_color => @school.banner_color} %>
<%= render :partial => 'layouts/genre_selector', :locals => {:school_id => @school.id} %> 

<div class="container" style="border-left: 124px; border-right: 124px;">
<div class="row">
  <div style="float:left; width: 23%; margin-right: 40px;">
    <h6 style="margin-bottom: 0px;"><small>Top <b>GENRE</b> songs</small></h6> 
    <div class="panel panel-default" >
        <ul class="list-group" >
          <% @top_tracks.each_with_index do |track, index| %>
          	<%= render partial: track, locals: {rank: index + 1, :genre => @genre, :user_id => nil, :band_id => nil, :school_id => @school.id} %>
          <% end %>
        </ul>
      </div> 
      </div>

      
      <div style="float:left;">
      <h6 style="margin-bottom: 0px;"><small>Top <b>GENRE</b> artists</small></h6> 
      </div>
      <div class="panel panel-default" style="float: right; width: 73.5%;">
      <% @top_bands.each_with_index do |band, index| %>
        <%= render partial: band, locals: {rank: index+1} %>
      <% end %>
      </div>
</div>
</div>
