<% @band = Band.find(id) %>

<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="edit_description" data-toggle="dropdown">
    edit
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="edit_description">
  <%= form_for @band do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit 'Update' %>
  <% end %>
  </ul>
</div>


